<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Manufacturer</h4>
                            <div class="row">
                                <label class="col-sm-2 label-on-left">Please select your manufacturer</label>
                                <div class="col-sm-4 checkbox-radios">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="toggle" name="optionsRadios" value="BMW_12345"> BMW
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="toggle" name="optionsRadios" value="Mercedes_12345"> Mercedes
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="toggle" name="optionsRadiosDisabled" disabled> Volkswagen
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" class="toggle" name="optionsRadiosDisabled" disabled> Audi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-sm-2 label-on-left">NEO Address</label>
                                    <div class="col-sm-6">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" value>
                                            <span class="help-block">The Neo address to tranfer the right.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 label-on-left">Auto Model</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" value>
                                            <span class="help-block">The manufaturer auto model.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-2 label-on-left">Engine Serial Number</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" value>
                                            <span class="help-block">Location of production.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-2 label-on-left">Mileage</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" value>
                                            <span class="help-block">Auto mileage.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-2 label-on-left">Production Location</label>
                                    <div class="col-sm-8">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <input type="text" class="form-control" value>
                                            <span class="help-block">Location of the auto production</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-fill btn-rose" (click)="submit()">Submit</button>
                            <div class="alert alert-success" id ="message-success" style="display:none;">
                                <strong>Success!</strong> The car NFT was registered.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
